.git
.idea
.vscode
.gradle
build
*/build
**/build
.kotlin
**/.kotlin
node_modules
**/node_modules
*.iml
*.log
.DS_Store
apps/iosApp/iosApp.xcodeproj/xcuserdata
apps/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
apps/macosApp/macosApp.xcodeproj/xcuserdata
apps/macosApp/macosApp.xcodeproj/project.xcworkspace/xcuserdata
